
Use Auth

CREATE TABLE dbo.UserInfo(
	Email nchar(20) NULL,
	Password nchar(100) NULL,
	Role nchar(20) NULL
)
GO
INSERT dbo.UserInfo (Email, Password, Role) VALUES (N'cbro@me.com         ', N'1000:3+JRddoiaDsniMpRQakVnQfgvyITSr4T:9jZ9VWWxZLAB4b6DxjeOLnDJ0p4=                                  ', N'Volunteer           ')
INSERT dbo.UserInfo (Email, Password, Role) VALUES (N'ckau@edu.com        ', N'1000:xcHsatrB300GkqluDdhEhC4fMo+s4jTr:CrXpfp/yqEShIJ95moRpy2QYGek=                                  ', N'Teacher             ')
INSERT dbo.UserInfo (Email, Password, Role) VALUES (N'cmal@me.com         ', N'1000:OQHAKAflMdcDm1mKALFcXHH2boTriYGU:G/Hx3OEoD/faPO22NSOdL+dRtGs=                                  ', N'Volunteer           ')
GO


CREATE PROCEDURE dbo.Auth
	@Email AS NCHAR(50),
	@Password AS NCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT TOP (1) * 
	FROM UserInfo
	Where Email = @Email
	AND Password = @Password;

	End
GO
USE master
GO
