USE Lab3
CREATE TABLE dbo.Event(
	EventID int IDENTITY(1,1) NOT NULL,
	Date date NULL,
	Time time(7) NULL,
	RoomNbr int NULL,
	EventName nchar(20) NULL,
 CONSTRAINT PK_Event PRIMARY KEY  
(
	EventID ASC
)
) 
GO

CREATE TABLE dbo.EventAttendanceList(
	TeacherID int NULL,
	EventID int NULL
) 
GO

CREATE TABLE dbo.EventPersonnel(
	VolunteerID int IDENTITY(1,1) NOT NULL,
	FirstName nchar(20) NULL,
	LastName nchar(20) NULL,
	Notes nchar(50) NULL,
	TshirtID int NULL,
	PersonnelType nchar(20) NULL,
	Email nchar(20) NULL,
 CONSTRAINT PK_Volunteer PRIMARY KEY  
(
	VolunteerID ASC
)
) 
GO

CREATE TABLE dbo.EventPresenters(
	PersonnelID int NULL,
	EventID int NULL,
	Role nchar(20) NULL
) 
GO

CREATE TABLE dbo.School(
	SchoolID int IDENTITY(1,1) NOT NULL,
	SchoolName nchar(20) NULL,
 CONSTRAINT PK_School PRIMARY KEY CLUSTERED 
(
	SchoolID ASC
)
)
GO

CREATE TABLE dbo.Student(
	StudentID int IDENTITY(1,1) NOT NULL,
	FirstName nchar(20) NULL,
	LastName nchar(20) NULL,
	Age int NULL,
	Notes nvarchar(50) NULL,
	TshirtID int NULL,
	SchoolID int NOT NULL,
	TeacherID int NOT NULL,
 CONSTRAINT PK_Student PRIMARY KEY CLUSTERED 
(
	StudentID ASC
)
)
GO

CREATE TABLE dbo.Teacher(
	TeacherID int IDENTITY(1,1) NOT NULL,
	SchoolID int NULL,
	FirstName nchar(20) NULL,
	LastName nchar(20) NULL,
	Notes nchar(50) NULL,
	TshirtID int NOT NULL,
	Email nchar(20) NULL,
	Grade int NULL,
 CONSTRAINT PK_Teacher PRIMARY KEY CLUSTERED 
(
	TeacherID ASC
)
)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.Tshirt(
	TshirtID int IDENTITY(1,1) NOT NULL,
	Size nchar(20) NULL,
	Color nchar(20) NULL,
 CONSTRAINT PK_Tshirt PRIMARY KEY CLUSTERED 
(
	TshirtID ASC
)
) 
GO
CREATE TABLE dbo.UserInfo(
	Email nchar(20) NULL,
	Password nchar(20) NULL,
	Role nchar(20) NULL
)
GO
SET IDENTITY_INSERT dbo.Event ON 

INSERT dbo.Event (EventID, Date, Time, RoomNbr, EventName) VALUES (1, CAST(N'2020-09-07' AS Date), CAST(N'09:00:00' AS Time), 231, N'Movie               ')
INSERT dbo.Event (EventID, Date, Time, RoomNbr, EventName) VALUES (2, CAST(N'2020-09-07' AS Date), CAST(N'10:00:00' AS Time), 242, N'Moonbounce          ')
INSERT dbo.Event (EventID, Date, Time, RoomNbr, EventName) VALUES (3, CAST(N'2020-09-07' AS Date), CAST(N'11:00:00' AS Time), 100, N'Ping Pong           ')
SET IDENTITY_INSERT dbo.Event OFF
GO
INSERT dbo.EventAttendanceList (TeacherID, EventID) VALUES (1, 4)
INSERT dbo.EventAttendanceList (TeacherID, EventID) VALUES (2, 2)
INSERT dbo.EventAttendanceList (TeacherID, EventID) VALUES (2, 6)
GO
SET IDENTITY_INSERT dbo.EventPersonnel ON 

INSERT dbo.EventPersonnel (VolunteerID, FirstName, LastName, Notes, TshirtID, PersonnelType, Email) VALUES (1, N'Fred                ', N'Singer              ', NULL, 5, N'Volunteer           ', N'fsin@me.com         ')
INSERT dbo.EventPersonnel (VolunteerID, FirstName, LastName, Notes, TshirtID, PersonnelType, Email) VALUES (2, N'Erik                ', N'Kloster             ', NULL, 4, N'Coordinator         ', N'eklo@me.com         ')
INSERT dbo.EventPersonnel (VolunteerID, FirstName, LastName, Notes, TshirtID, PersonnelType, Email) VALUES (3, N'Eric                ', N'Simpson             ', NULL, 2, N'Volunteer           ', N'esim@me.com         ')
SET IDENTITY_INSERT dbo.EventPersonnel OFF
GO
INSERT dbo.EventPresenters (PersonnelID, EventID, Role) VALUES (2, 1, N'Coordinator         ')
INSERT dbo.EventPresenters (PersonnelID, EventID, Role) VALUES (2, 2, N'Coordinator         ')
INSERT dbo.EventPresenters (PersonnelID, EventID, Role) VALUES (6, 6, N'Coordinator         ')
GO
SET IDENTITY_INSERT dbo.School ON 

INSERT dbo.School (SchoolID, SchoolName) VALUES (1, N'Potomac             ')
INSERT dbo.School (SchoolID, SchoolName) VALUES (2, N'Flint Hill          ')
INSERT dbo.School (SchoolID, SchoolName) VALUES (3, N'St. Albans          ')
SET IDENTITY_INSERT dbo.School OFF
GO
SET IDENTITY_INSERT dbo.Student ON 

INSERT dbo.Student (StudentID, FirstName, LastName, Age, Notes, TshirtID, SchoolID, TeacherID) VALUES (1, N'Daniel              ', N'Ducic               ', 9, N'Investment Banker', 2, 2, 2)
INSERT dbo.Student (StudentID, FirstName, LastName, Age, Notes, TshirtID, SchoolID, TeacherID) VALUES (2, N'Hugh                ', N'Collins             ', 10, N'Big Head', 1, 3, 1)
INSERT dbo.Student (StudentID, FirstName, LastName, Age, Notes, TshirtID, SchoolID, TeacherID) VALUES (3, N'John                ', N'Wehner              ', 10, N'Smart Cookie!', 2, 3, 1)
SET IDENTITY_INSERT dbo.Student OFF
GO
SET IDENTITY_INSERT dbo.Teacher ON 

INSERT dbo.Teacher (TeacherID, SchoolID, FirstName, LastName, Notes, TshirtID, Email, Grade) VALUES (1, 3, N'Paul T              ', N'Anderson            ', N'Insured for inherent vice                         ', 2, N'pta@edu.com         ', NULL)
INSERT dbo.Teacher (TeacherID, SchoolID, FirstName, LastName, Notes, TshirtID, Email, Grade) VALUES (2, 2, N'Werner              ', N'Herzog              ', N'Looks like a Grizzly Man                          ', 1, N'wher@edu.com        ', NULL)
INSERT dbo.Teacher (TeacherID, SchoolID, FirstName, LastName, Notes, TshirtID, Email, Grade) VALUES (3, 1, N'Terrence            ', N'Malick              ', N'Hates Red Lines                                   ', 4, N'tmal@edu.com        ', NULL)
SET IDENTITY_INSERT dbo.Teacher OFF
GO
SET IDENTITY_INSERT dbo.Tshirt ON 

INSERT dbo.Tshirt (TshirtID, Size, Color) VALUES (1, N'Large               ', N'Blue                ')
INSERT dbo.Tshirt (TshirtID, Size, Color) VALUES (2, N'Small               ', N'Green               ')
INSERT dbo.Tshirt (TshirtID, Size, Color) VALUES (3, N'Medium              ', N'Red                 ')
SET IDENTITY_INSERT dbo.Tshirt OFF
GO
INSERT dbo.UserInfo (Email, Password, Role) VALUES (N'cbro@me.com         ', N'1111                ', N'Volunteer           ')
INSERT dbo.UserInfo (Email, Password, Role) VALUES (N'ckau@edu.com        ', N'1111                ', N'Teacher             ')
INSERT dbo.UserInfo (Email, Password, Role) VALUES (N'cmal@me.com         ', N'1111                ', N'Volunteer           ')
GO
ALTER TABLE dbo.EventAttendanceList  WITH CHECK ADD  CONSTRAINT FK_EventTeacherList_Event FOREIGN KEY(EventID)
REFERENCES dbo.Event (EventID)
GO
ALTER TABLE dbo.EventAttendanceList CHECK CONSTRAINT FK_EventTeacherList_Event
GO
ALTER TABLE dbo.EventAttendanceList  WITH CHECK ADD  CONSTRAINT FK_EventTeacherList_Teacher FOREIGN KEY(TeacherID)
REFERENCES dbo.Teacher (TeacherID)
GO
ALTER TABLE dbo.EventAttendanceList CHECK CONSTRAINT FK_EventTeacherList_Teacher
GO
ALTER TABLE dbo.EventPersonnel  WITH CHECK ADD  CONSTRAINT FK_Volunteer_Tshirt FOREIGN KEY(TshirtID)
REFERENCES dbo.Tshirt (TshirtID)
GO
ALTER TABLE dbo.EventPersonnel CHECK CONSTRAINT FK_Volunteer_Tshirt
GO
ALTER TABLE dbo.EventPresenters  WITH CHECK ADD  CONSTRAINT FK_VolunteerEventList_Event FOREIGN KEY(EventID)
REFERENCES dbo.Event (EventID)
GO
ALTER TABLE dbo.EventPresenters CHECK CONSTRAINT FK_VolunteerEventList_Event
GO
ALTER TABLE dbo.EventPresenters  WITH CHECK ADD  CONSTRAINT FK_VolunteerEventList_Volunteer FOREIGN KEY(PersonnelID)
REFERENCES dbo.EventPersonnel (VolunteerID)
GO
ALTER TABLE dbo.EventPresenters CHECK CONSTRAINT FK_VolunteerEventList_Volunteer
GO
ALTER TABLE dbo.Student  WITH CHECK ADD  CONSTRAINT FK_Student_School FOREIGN KEY(SchoolID)
REFERENCES dbo.School (SchoolID)
GO
ALTER TABLE dbo.Student CHECK CONSTRAINT FK_Student_School
GO
ALTER TABLE dbo.Student  WITH CHECK ADD  CONSTRAINT FK_Student_Tshirt FOREIGN KEY(TshirtID)
REFERENCES dbo.Tshirt (TshirtID)
GO
ALTER TABLE dbo.Student CHECK CONSTRAINT FK_Student_Tshirt
GO
ALTER TABLE dbo.Teacher  WITH CHECK ADD  CONSTRAINT FK_Teacher_School FOREIGN KEY(SchoolID)
REFERENCES dbo.School (SchoolID)
GO
ALTER TABLE dbo.Teacher CHECK CONSTRAINT FK_Teacher_School
GO
ALTER TABLE dbo.Teacher  WITH CHECK ADD  CONSTRAINT FK_Teacher_Tshirt FOREIGN KEY(TshirtID)
REFERENCES dbo.Tshirt (TshirtID)
GO
ALTER TABLE dbo.Teacher CHECK CONSTRAINT FK_Teacher_Tshirt
GO
